@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;  
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    padding: 19px 13px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    padding: 0 13px;
}
ul li a{
    color: #fff;
    text-decoration: none;
}
ul>li>a:hover{
    color: rgb(103, 105, 113);
}

main{
    min-height: 90vh;
}
.container{
    /* background-color: azure; */
    max-width: 80vw;
    padding: 9px 15px;
    margin: auto;
}
.container h1{
    padding: 10px 2px;
}

input[type='text']{
    min-width: 23vw;
    padding: 3px 12px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 20px;
}
.logo img{
    width: 15px;
    filter: invert(1);
}
#resultCont div::first-letter{
    text-transform: uppercase;
}

footer{
    font-size: 12px;
    background-color: #000;
    color: #fff;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 9px 12px;
    cursor: pointer;
}
@media only screen and (max-width:600px){
    /* body{
        background-color: rgb(190, 228, 228);
    } */
    .container{
        font-size: 20px;
    }
    nav{
        flex-direction: column;
    }
    .logo{
        padding: 6px 0;
        font-size: 20px;
    }
    .logo span{
        font-size: 20px;
    }
    .logo img{
        width: 15px;
        filter: invert(1);
    }       
}